<form id="dados-horario" action="" class="col s12 form" hidden>
  <!-- ko foreach: $data.diasSemana -->
    <div class="day">
      <div class="input-field switch col s4">
        <label>
          <span data-bind="text: $data.text"></span>
          <input type="checkbox">
          <span class="lever"></span>
        </label>
      </div>
      <div class="input-field col s4">
        <input data-bind="value: horarioInicio, attr: { 'id' : 'horario_inicio' + id }" type="text" class="time" disabled>
        <label data-bind="attr: { 'for' : 'horario_inicio' + id }" class="fixed-label">Horario Inicio</label>
      </div>
      <div class="input-field col s4">
        <input data-bind="value: horarioFim, attr: { 'id' : 'horario_fim' + id }" type="text" class="time" disabled>
        <label data-bind="attr: { 'for' : 'horario_fim' + id }" class="fixed-label">Horario Fim</label>
      </div>
    </div>
  <!-- /ko -->

</form>
