<form id="dados-usuario" action="" class="col s12 form">
  <div class="input-field col s12">
    <input data-bind="value: email" id="email" type="text" class="email">
    <label for="email" class="fixed-label">E-mail*</label>
  </div>

  <div class="input-field col s6">
    <input data-bind="value: password" id="password" type="password">
    <label for="password" class="fixed-label">Senha*</label>
  </div>

  <div class="input-field col s6">
    <input data-bind="value: confirmPassword" id="confirmPassword" type="password">
    <label for="confirmPassword" class="fixed-label">Confirmar Senha*</label>
  </div>

</form>
