<form id="personal-data-form" method="post">
  <div class="row">
    <div class="col s12">

      <div class="row">
        <div class="col s12">
          <label>Nome:</label>
          <input data-bind="value: nome" type="text" id="nome" placeholder="Nome">
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <label>Email:</label>
          <input class="email" data-bind="value: email" type="text" id="email" placeholder="Email">
        </div>
      </div>

    </div>
  </div>

  <input class="btn" type="submit" data-bind="attr: { disabled : !validForm() }, css: { disabled: !validForm() }, click: save" value="PRÓXIMO">
</form>
