<form id="dados-usuario" action="" class="col s12 form">
  <div class="input-field col s12">
    <input data-bind="textInput: email" id="email" type="text">
    <label for="email">E-mail*</label>
  </div>

  <div class="input-field col s6">
    <input data-bind="textInput: password" id="password" type="password">
    <label for="password">Senha*</label>
  </div>

  <div class="input-field col s6">
    <input data-bind="textInput: confirmPassword" id="confirmPassword" type="password">
    <label for="confirmPassword">Confirmar Senha*</label>
  </div>

</form>
