
 /* label focus color */
 .input-field > input:focus:not([readonly])+label{
   color: #979797;
 }
 .input-field > input{
   height: 25px;
   padding: 5px;
 }
 .input-field .select-wrapper > input.select-dropdown{
   height: 25px;
   padding: 5px;
 }
 /* label underline focus color */
 .input-field > input:focus:not([readonly]){
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 /* valid color */
 .input-field input.valid {
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 /* invalid color */
 .input-field input.invalid {
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #979797;
 }
 .dropdown-content li > span{
   color: orange;
 }
 .material-checkbox+label:before {
     top: -4px;
     left: -5px;
     width: 12px;
     height: 22px;
     border-top: 2px solid transparent;
     border-left: 2px solid transparent;
     border-right: 2px solid #26a69a;
     border-bottom: 2px solid #26a69a;
     -webkit-transform: rotate(40deg);
     transform: rotate(40deg);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
 }
 .input-field .material-checkbox+label:before{
   border-right: 2px solid orange;
   border-bottom: 2px solid orange;
 }


/* search-field */
.input-field[class*="search-field"]{
  z-index: 1;
}
.input-field[class*="search-field"] > input[type=text]{
  background-color: white;
  border: 1px solid orange;
  height: 25px;
  padding: 5px;
}
.input-field[class*="search-field"] > input[type=text]:focus{
  border-bottom: 1px solid orange;
  box-shadow: none;
}
.input-field[class*="search-field"] > input[type=text]:valid{
  border-bottom: 1px solid orange;
  box-shadow: none;
}
.input-field.search-field__home > input[type=text]:focus + label{
  color: orange;
}
.search > .input-field.search-field__home > label{
  color: orange;
  font-size: 14px;
  font-weight: 500;
}
.input-field > label{
  font-size: 12px;
  font-weight: 500;
  top: 0;
  webkit-transform: translateY(-110%);
  transform: translateY(-110%);
}
.input-field[class*="search-field"] > .select-wrapper > input.select-dropdown{
  background-color: white;
  border: 1px solid orange;
  height: 25px;
  padding: 5px;
}
.input-field[class*="search-field"] > .select-wrapper > span.caret{
  z-index: 1
}


/*CARD */
.card{
  margin: 10px;
}

.card .card-content{
  padding: 10px 5px;
}
.card .card-content .card-title{
  line-height: 24px;
}
.card .card-action{
  text-align: right;
}

.divider{
  margin: 30px auto;
  background-color: orange;
}

/*DATEPICKER*/
.picker__weekday-display{
  background-color: #dc9617;
}
.picker__date-display{
  background-color: orange;
}
.picker__nav--prev:hover, .picker__nav--next:hover{
  background: #ffe3b1;
}
.picker__day.picker__day--today{
  color: orange;
}
.picker__close, .picker__today{
  color: orange;
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus{
  background: #ffe3b1;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: orange;
}
