
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #979797;
 }
 .input-field input[type=text]{
   height: 25px;
   padding: 5px;
 }
 .input-field input[type=email]:focus + label {
   color: #979797;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 .input-field input[type=email]:focus {
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 .input-field input[type=email].valid {
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 .input-field input[type=email].invalid {
   border-bottom: 1px solid #979797;
   box-shadow: 0 1px 0 0 #979797;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #979797;
 }
 .dropdown-content li > span{
   color: orange;
 }
 .material-checkbox+label:before {
     top: -4px;
     left: -5px;
     width: 12px;
     height: 22px;
     border-top: 2px solid transparent;
     border-left: 2px solid transparent;
     border-right: 2px solid #26a69a;
     border-bottom: 2px solid #26a69a;
     -webkit-transform: rotate(40deg);
     transform: rotate(40deg);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
 }


/* search-field */
.input-field[class*="search-field"]{
  z-index: 1;
}
.input-field[class*="search-field"] > input[type=text]{
  background-color: white;
  border: 1px solid orange;
  height: 25px;
  padding: 5px;
}
.input-field[class*="search-field"] > input[type=text]:focus{
  border-bottom: 1px solid orange;
  box-shadow: none;
}
.input-field[class*="search-field"] > input[type=text]:valid{
  border-bottom: 1px solid orange;
  box-shadow: none;
}
.input-field.search-field__home > input[type=text]:focus + label{
  color: orange;
}
.search > .input-field.search-field__home > label{
  color: orange;
  font-size: 14px;
  font-weight: 500;
}
.input-field > label{
  font-size: 12px;
  font-weight: 500;
  top: 0;
  webkit-transform: translateY(-110%);
  transform: translateY(-110%);
}
.input-field[class*="search-field"] > .select-wrapper > input.select-dropdown{
  background-color: white;
  border: 1px solid orange;
  height: 25px;
  padding: 5px;
}
.input-field[class*="search-field"] > .select-wrapper > span.caret{
  z-index: 1
}
