
[class*="topheader-"]{
  background-image: url(../images/header-banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #333;
  position: relative;
}

.topheader-home{
  min-height: 500px;
}
.topheader-default{
  min-height: 300px;
}
header[class*="topheader-"] .navbar{
  background-color: rgba(74,74,74, 0.5);
}
.navbar .navbar-list{
  line-height: 34px;
  margin: 15px auto;
}
.navbar .cad-profissional{
  border: 1px solid white;
  border-radius: 2px;
}
.navbar .cad-profissional:hover{
  border: 1px solid orange;
  color: orange;
}

header > .header-search{
  opacity: 1;
  max-width: 80%;
  margin: 10px auto;
}
.header-search > .search{
  max-width: 80%;
  margin: 10px auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
}
.search > .input-field.search-field__home{
  display: inline-block;
  width: 30%;
  margin: 15px 20px;
  text-align: left;
}

.search-section{
  position: absolute;
  top: 100px;
}

.search-section > .search{
  margin: 10px auto;
}

.page-title{
  margin: 30px auto;
  margin-left: -40px;
}


.page-title > h2{
  font-size: 28px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}
.page-title > hr{
  width: 160px;
  margin-left: 44px;
  margin-top: 4px;
  border-color: orange;
  background-color: orange;
}

.destaques > .card.destaque{
  width: 40%;
  display: inline-block;
  border: 1px solid #979797;
  margin: 10px 30px;
  text-align: left;
}
.cadastro > .form-cadastro{
  border: 1px solid orange;
  padding: 10px;
  margin: 0 auto;
  max-width: 80%;
}
.cadastro > .form-cadastro .collapsible .option{
  display: block;
  min-height: 100px;
}
.cadastro > .form-cadastro button > .material-icons.left{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cadastro > .form-cadastro button.left{
  display: none;
}
.login_usuario > .form-login_usuario{
  border: 1px solid orange;
  padding: 10px;
  margin: 80px auto;
  max-width: 50%;
}
.form-login_usuario .form-link{
  font-size: 11px;
}

@media screen and (max-width: 600px) {
  .header-search > .search > .input-field.search-field__home{
    display: block;
    width: auto;
  }
  .topheader-default{
    min-height: 540px;
  }

  .page-title{
    margin-left: 0px;
  }
  .destaques > .card.destaque{
    width: 90%;
    display: block;
  }
  .cadastro > .form-cadastro{
    max-width: 95%
  }
  .cadastro > .form-cadastro .collapsible .option{
    min-height: 150px;
  }
  .login_usuario > .form-login_usuario{
    max-width: 90%;
  }
}
