
[class*="topheader-"]{
  background-image: url(../images/header-banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #333;
  position: relative;
}

.topheader-home{
  min-height: 500px;
}
.topheader-default{
  min-height: 300px;
}
header[class*="topheader-"] .navbar{
  background-color: rgba(74,74,74, 0.5);
}
.navbar .navbar-list{
  line-height: 34px;
  margin: 15px auto;
}
.navbar .cad-profissional{
  border: 1px solid white;
  border-radius: 2px;
}
.navbar .cad-profissional:hover{
  border: 1px solid orange;
  color: orange;
}

header > .header-search{
  opacity: 1;
  max-width: 80%;
  margin: 10px auto;
}
.header-search > .search{
  max-width: 80%;
  margin: 10px auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
}
.search > .input-field.search-field__home{
  display: inline-block;
  width: 30%;
  margin: 15px 20px;
  text-align: left;
}

.search-section{
  position: absolute;
  top: 100px;
}

.search-section > .search{
  margin: 10px auto;
}

.page-title{
  margin: 30px auto;
  margin-left: -40px;
}

.page-title > h2{
  font-size: 28px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}
.page-title > hr{
  width: 160px;
  margin-left: 44px;
  margin-top: 4px;
  border-color: orange;
  background-color: orange;
}

.card .card-content > .profissional-ramo{
  color: #979797;
}

/* CARDS HOME */
.destaques {
  display: flex;
}
.destaques > .card.destaque{
  border: 1px solid #979797;
}

/* CADATRO */
.cadastro > .form-cadastro{
  border: 1px solid orange;
  padding: 10px;
  margin: 0 auto;
  max-width: 80%;
}
.cadastro > .form-cadastro .collapsible .option{
  display: block;
  min-height: 100px;
}
.cadastro > .form-cadastro button > .material-icons.left{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cadastro > .form-cadastro button.left{
  display: none;
}
.login_usuario > .form-login_usuario{
  border: 1px solid orange;
  padding: 10px;
  margin: 80px auto;
  max-width: 50%;
}
.form-login_usuario .form-link{
  font-size: 11px;
}

/* PESQUISA */
/* tela de resultado de pesquisa */
.pesquisa{
  display: flex;
  align-items: flex-start;
}

.resultado-item  .item-info{
  margin-top: 10px;
}
.resultado-item  .item-info > *{
  display: inline-block;
  vertical-align: middle;
}
.resultado-item  .item-info > .info-date{
  /*width: 25%;*/
}

.resultado-item  .item-info > .info-date > .date{
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
}
.resultado-item .item-info > .info-date > .day{
  display: inline-block;
  font-size: 11px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-transform: uppercase;
  color: #000;
}
.resultado-item .item-info > .info-available{
  max-width: 70%;
  border-left: 2px solid orange;
}
.info-available ul.available-list + p{
  font-size: 11px;
  color: #979797;
  margin-left: 5px;
}
.resultado-item .item-info > .info-available > ul.available-list {
  display: inline-block;
  margin: 0;
}
.resultado-item .item-info > .info-available > ul.available-list > li.available-time{
  display: inline-block;
  margin: 0;
}
.info-available > ul.available-list > li.available-time > label{
  font-size: 12px;
  color: orange;
  cursor: pointer;
  background-color: transparent;
  padding: 2px 5px;
}
.info-available > ul.available-list > li.available-time > input[type=radio]{
  display: none;
}
.info-available > ul.available-list > li.available-time > input[type=radio]:checked+label{
  background-color: orange;
  color: #fff;
}

.info-available > ul.available-list > li.available-time > label.label-disabled{
  color: #9b9b9b;
  cursor: not-allowed;
  text-decoration: line-through;
}
.li.available-time > [type="radio"]+label::after, [type="radio"]+label::before{
  content: none;
}
.li.available-time > [type="radio"]:checked+label::after, [type="radio"].with-gap:checked+label::after{
  content: none;
}
.li.available-time > [type="radio"]:not(:checked)+label:before,
                     [type="radio"]:not(:checked)+label:after,
                     [type="radio"]:checked+label:before,
                     [type="radio"]:checked+label:after,
                     [type="radio"].with-gap:checked+label:before,
                     [type="radio"].with-gap:checked+label:after{
                         content: none;
                     }


/* RESPONSIVO */

@media screen and (max-width: 600px) {
  .header-search > .search > .input-field.search-field__home{
    display: block;
    width: auto;
  }
  .topheader-default{
    min-height: 540px;
  }

  .page-title{
    margin-left: 0px;
  }
  .destaques > .card.destaque{
    width: 90%;
    display: block;
  }
  .cadastro > .form-cadastro{
    max-width: 95%
  }
  .cadastro > .form-cadastro .collapsible .option{
    min-height: 150px;
  }
  .login_usuario > .form-login_usuario{
    max-width: 90%;
  }

  .pesquisa{
    display: block;
  }

}
@media screen and (max-width: 840px){
  .resultado-item  .item-info > .info-date > .date{
    font-size: 20px;
  }
  .resultado-item  .item-info > .info-date{
    /*width: 33%*/
  }
}
@media screen and (max-width: 1024px){
  .resultado-item .item-info > .info-available{
    max-width: 60%;
  }

}
